Question 1 

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

In [12]:
def multiply_list(numbers):
    result = 1
    
    
    for number in numbers:
        result *= number
    return result

my_list = [2, 3, 6]
print(multiply_list(my_list))

36

Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [46]:
def last(a):
    return a[-1]

def sort(tuples):
    return sorted(tuples, key=last)


x= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print("sorted:")
print(sort(x))

sorted:
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Question 3 

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

In [75]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}


def combine_dict(d1, d2):    
    result = {}
    
    
    for key in d1.keys() | d2.keys():
        result[key] = d1.get(key, 0) + d2.get(key, 0)
        
    return result



result = combine_dict(d1, d2)
print(result)

{'c': 300, 'a': 400, 'd': 400, 'b': 400}

Question 4

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8

In [91]:
n= 8 

numbers= {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}


for i in range (1 , n+1):
    numbers[i] = i + i *i
    
    print(numbers)

{1: 2, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 20, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 20, 5: 30, 6: 36, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 20, 5: 30, 6: 42, 7: 49, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 20, 5: 30, 6: 42, 7: 56, 8: 64}
{1: 2, 2: 6, 3: 12, 4: 20, 5: 30, 6: 42, 7: 56, 8: 72}

Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [4]:
listt= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]


listt.sort(reverse=True)

In [5]:
listt

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

In [12]:
my_set= {0, 1, 2, 3, 4}

for number in my_set:
    print(number)
    
    
# add a member in my_set:

my_set.add("Mohamed")
my_set.add("Ali")
my_set.add("Omar")


print(f" set after adding members: {my_set}")


# remove a member in my_set:

my_set.remove("Omar")

print(f" set after removing members: {my_set}")

0
1
2
3
4
 set after adding members: {0, 1, 2, 3, 4, 'Mohamed', 'Ali', 'Omar'}
 set after removing members: {0, 1, 2, 3, 4, 'Mohamed', 'Ali'}